# Ignore build artifacts
build/
NMPCProject/build/
**/build/

# Ignore generated C code
c_generated_code/
NMPCProject/c_generated_code/
**/c_generated_code/
**/codegen

# Ignore JSON files
*.json
**/*.json

# Platformio
.pio/
.vscode/

# Generated data files
*.csv

# Images
*.pdf

# Compiled code
observer/PCobserver/target
.mexa64

# Virtual environments
*.venv
